{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1>Calendar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Nom du client</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Toute une journée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.title }}</td>
                <td>{{ calendar.client }}</td>
                <td>{{ calendar.start ? calendar.start|date('d-m-Y H:i') : '' }}</td>
                <td>{{ calendar.end ? calendar.end|date('d-m-Y H:i') : '' }}</td>
                <td>{{ calendar.description }}</td>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar_new') }}">Create new</a>
{% endblock %}
