{% extends 'base.html.twig' %}
{% block title %}Espace Membre{% endblock %}



{% block body %}
  <body class="layout with-sidenav">
    <div class="container-fluid  d-flex flex-row">
      <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
        <div class="sidenav-header">
          <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
          <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
        </div>
        <a href="{{ path('app_account')}}" class="sidenav-link">Mon compte</a>
        <a href="{{ path('app_account_edit')}}" class="sidenav-link active">Modifier mon profil</a>
        <a href="{{ path('app_account_orders')}}" class="sidenav-link">Mes commandes</a>
        <a href="{{ path('app_account_rdv')}}" class="sidenav-link">Mes rendez vous</a>
      </div>
      <section class="container-fluid shadow-2 p-3 m-3 border">
        <div>
        {% for message in app.flashes('message')%}
          <div class="p-3 m-2 rounded-2 success"> {{message}} </div>
        </div>
        {% endfor %}  
        <h2>Editer mon profil</h2>
  
        {{form_start(form)}}
        {{ form_widget(form) }}
          <button class="btn bc mt-3 text-white">{{ button_label|default('Enregistrer Vos Modifications') }}</button>
          {{ form_end(form) }} <br>
          Ou <button class="btn bc mt-3 text-white"> <a style="color: white" href="{{ path('app_account_edit_mdp') }}">Modifier le mot de passe </a></button>
      </section>
    </div>

{% endblock %}