{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}
    <body class="layout with-sidenav">
    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
    <div class="sidenav-header">
    <p>Bonjour, {{ app.user.name }} </p>
    </div>
      <a href="{{ path('app_account')}}" class="sidenav-link">Mon compte</a>
      <a href="{{ path('app_account_edit')}}" class="sidenav-link active">Modifier mon profil</a>
      <a href="{{ path('app_account_orders')}}" class="sidenav-link">Mes commandes</a>
      <a href="{{ path('app_account_rdv')}}" class="sidenav-link">Mes rendez vous</a>
    </div>
<section class="container margin-compte">
<div>
  {% for message in app.flashes('error')%}
    <div class="p-3 m-2 rounded-2 error"> {{message}} </div>
</div>
  {% endfor %}  
    <h2>Editer mon profil</h2>

        <form method="post"> 
        <div class="form-field">
        <label for="pass"> Mot de passe </label>
        <input type="password" id="pass" name="pass" class="form-control">
        </div>
        <div class="form-field">
        <label for="pass2"> Cofirmer le mot de passe </label>
        <input type="password" id="pass2" name="pass2" class="form-control">
        </div>
        <button class="btn blue"> Valider </button>
        
        </form>

</div>

</div>


</section>


   

{% endblock %}