{% extends 'user.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }



</style>

<div class="example-wrapper">
    <h1>Salut {{ app.user.name }}! </h1>
    <h3> Mon compte </h3>
<div class="grix xs4 container">
<div class="col-xs4"> profil de {{ app.user.firstname }} </div>
  <div class="col-xs1">Nom</div>
  <div class="col-xs3">{{app.user.name}}</div>
  <div class="col-xs1">Prenom</div>
  <div class="col-xs3">{{app.user.firstname}}</div>
  <div class="col-xs1">Email</div>
  <div class="col-xs3">{{app.user.email}}</div>
<div class="col-xs4"> 
<a href="{{ path('app_account_edit')}}" class="btn shadow-1 rounded-1 blue">Modifier le profil</a>
<a href="#" class="btn shadow-1 rounded-1 blue">Modifier le mot de passe</a>




</div>
{% endblock %}
