{% extends 'base.html.twig' %}

{% block body %}
<style>

    /* TABLES COMMANDE */
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
    
  tr:nth-child(even) {
    background-color: #dddddd;
  }

</style>
  <body class="layout with-sidenav">
    <div class="container-fluid  d-flex flex-row">

      <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
        <div class="sidenav-header">
          <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
          <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
        </div>
        <a href="{{ path('app_account')}}" class="sidenav-link">Mon compte</a>
        <a href="{{ path('app_account_edit')}}" class="sidenav-link">Modifier mon profil</a>
        <a href="{{ path('app_account_orders')}}" class="sidenav-link active">Mes commandes</a>
        <a href="{{ path('app_account_rdv')}}" class="sidenav-link">Mes rendez vous</a>
      </div>
  
      <div class="container-fluid">
        <h2>Historique de mes commandes</h2>

        <div class="grix xs5 p-3 bc text-white shadow-2 align-items-center">
          <h5>Magasin</h5>
          <h5>Numéro de Commande</h5>
          <h5>Statut</h5>
          <h5>Prix</h5>
        </div>
        {% for order in orders %}
        	<div class="grix xs5 p-3 shadow-2 align-items-center" >
            <p class="m-0">{{ order.shop.name }}</p>
            <p class="m-0">{{ order.orderNumber }}</p>
            <p class="m-0">{{ order.checkout }} €</p>
            <p class="m-0">{{ order.orderDetails.orderStatus }}</p>
            <p>
              <a href="#">Détail de la commande</a>
            </p>
          </div>
        {% else %}
          <p colspan="6"> Pas de commandes</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}