{% extends 'base.html.twig' %}

{% block body %}
<style>

    /* TABLES COMMANDE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .card-btn {
		background-color: var(--third-color);
  }
  .grix {
    display: grid;
    grid-auto-flow: column;
    grid-gap: .25rem;
}
</style>

<body class="layout with-sidenav">
  <div class="container-fluid  d-flex flex-row">
    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
      <div class="sidenav-header">
        <p>Bonjour, {{ app.user.name }} </p>
      </div>
        <a href="{{ path('app_account')}}" class="sidenav-link">Mon compte</a>
        <a href="{{ path('app_account_edit')}}" class="sidenav-link">Modifier mon profil</a>
        <a href="{{ path('app_account_orders')}}" class="sidenav-link">Mes commandes</a>
        <a href="{{ path('app_account_rdv')}}" class="sidenav-link active">Mes rendez vous</a>
    </div>
  
    <div class="container-fluid">
  
      <h2>Historique des rendez-vous :</h2>
  
      <div class="grix xs7 p-3 bc text-white shadow-2 align-items-center">
          <h5>Prestataire</h5>
          <h5>Prestation</h5>
          <h5>Date</h5>
          <h5>Fin prévue</h5>
          <h5>Description</h5>
          <h5>Prix</h5>
          <h5>Action</h5>
      </div>
      
        {% for rdv in rdvs %}
          <div class="grix xs7 p-3 mt-3 shadow-2 align-items-center" >
							<p class="m-0">{{ rdv.shop.name }}</p>
							<p class="m-0">{{ rdv.title }}</p>
							<p class="m-0">{{ rdv.start|date('d-m-Y h:i') }}</p>
							<p class="m-0">{{ rdv.end|date('d-m-Y h:i') }}</p>
              <p class="m-0">{{ rdv.description }}</p>
              {% for service in rdv.shop.services %}
                {% if service.name == rdv.title %}
                  <p class="m-0">{{ service.price}} €</p>
                {% endif %}
              {% endfor %}
              <div class="grix sx-2 ">
                  {% if rdv.start|date('d/m/Y h:i') <= "now"|date("d-m-Y h:i") %}
                  Rdv passé
                  {% else %}
                  <a class="p-2 btn card-btn text-white text-center mb-1" href="{{path('calendar_edit', {'id': rdv.id } ) }}">Modifier</a>
                  <form method="post" class="" action="{{ path('calendar_delete', {'id': rdv.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce rendez-vous ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rdv.id) }}">
                    <button class="btn p-2 card-btn text-white text-center">Annuler le rendez-vous</button>
                  </form>
                  {# <a class="p-2 card-btn text-white text-center" href="{{path('calendar_delete', {'id': rdv.id } ) }}">Supprimer</a> #}
                {% endif %}
              </div>
						</div>
            
          
        {% else %}
          <tr>
            <td colspan="6"> Pas encore de rendez-vous</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}