{% extends 'header.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section class="">
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {
            label:'Nom'
        }) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'E-mail'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{form_row ( registrationForm.shopkeeper, {
            label: 'Vendeur'
        } ) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions'
        }) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </section>
{% endblock %}
