{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <style>
        #calendier {
            width : 80%;
            margin : auto;
        }

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 10%;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
}

            .tooltip:hover .tooltiptext {
            visibility: visible;
            }

            .card-btn {
		background-color: var(--third-color);
	    }

        /* CSS d'un event */
        .fc-media-screen .fc-timegrid-event {
            position: absolute;
            top: 0;
            bottom: 1px;
            left: 0;
            right: 0;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .fc-media-screen .fc-timegrid-event:hover {
            transform: scale(1.05);
        }
        
    </style>
{% endblock %}

{% block title %}Mes rendez-vous{% endblock %}


{% block body %}
    <h1>Mes rendez-vous</h1>
    <div class="container-fluid ">

        <div class=" container-fluid d-flex justify-content-center m-3">
        {% if error is defined %}
            <p class="p-3 my-2 rounded-2 error">{{error}}</p>
        {% endif %}
            {# <p> Pour créer un rendez-vous sélectionnez un crénaux et cliquez sur "Ajouter un rendez-vous"</p>
            <p> Pour modifer un rendez-vous sélectionnez un rendez-vous et cliquez sur "modifer un rendez-vous"</p> #}
            <a class="btn rounded-1 text-white card-btn press grix sx1 m-3" href="{{path('calendar_new')}}">Ajouter un Rendez-vous</a>
            {# <a class="btn rounded-1 blue press grix sx1 m-3" href="{{path('calendar_index', {'id': id() } ) }}"> modifier un Rendez-vous</a>               #}
            <p id="edit"></p>
            <form method="post" id="formDelete" class="" action="" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" id="inputDelete" value="">
                <span id="delete"></span>
            </form>
        </div> 
        <div class=" container-fluid m-3">
            <div id="calendrier"></div>
        </div>
    </div>


{% block javascript %}  
    <script>
        window.onload = () => {
            var eventId = 0;
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                selectable: true,
                dateClick: function(info) {
                    console.log(info);
                    let url = `/marketplace/public/calendar/nouveau/appointment`
                    let donnees = {
                        "start": info.date
                    }
                    console.log(donnees)
                 console.log(url)
                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
                }, 
                eventClick: function(e) {
                    console.log(e);
                    console.log(e.event.id);
                    eventclick(e.event.id);
                },
                
            }) 
            calendar.render()
        }
        function eventclick( eventClickInfo ) { 

            var textEdit = "";
            var urlEdit = `{{ path("calendar_edit",{'id' : 'idevent' }) }}`.replace('idevent', eventClickInfo)
            textEdit += '<a class="btn rounded-1 text-white card-btn press grix sx1 m-3" href='+ urlEdit +'>modifier le Rendez-vous</a>';
            document.getElementById("edit").innerHTML = textEdit;

           
            var actionFormDelete = document.getElementById("delete");
            var actionForm = `{{ path("calendar_delete",{'id' : 'idevent' }) }}`.replace('idevent', eventClickInfo);
            actionFormDelete.setAttribute("action", actionForm);

            var inputDelete =  document.getElementById("inputDelete");
            var valueInput = `{{ csrf_token('delete' ~ 'idevent') }}`.replace('idevent', eventClickInfo);
            inputDelete.setAttribute("value", valueInput);

            var button = '<button class="btn card-btn rounded-1 text-white press grix sx1 m-3">Delete</button>';

            document.getElementById("delete").innerHTML = button;

        }

        

    </script>

   
{% endblock %}

{% endblock %}