{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

 {% block javascripts %}
 <script src="../public/assets/js/panier.js"></script> 
{% endblock %}
{% block body %}


	<div class="container-fluid col-5 m-3 d-flex flex-direction: row justify-content-center border" id="panier">

		<p class="titrePanier text-center">Votre Panier chez Nom du shop</p>

		<h2 class="text-center">Panier</h2>
		 
		<script>
			AfficherPanier();
		</script>
		<div class="container-fluid d-flex flex-row  justify-content-center">
				 
			{{ form_start(form) }}
			
			{{ form_widget(form) }}
			<a href="{{ path('cart') }}">
			<button class="btn btn-dark m-3" id="checkout-btn" type="submit" >{{ button_label|default('Valider') }}</button>
			</a>
			{{ form_end(form) }}
			{# <button class="btn btn-dark m-3" onclick='resetPanier()'>Reset le panier
			</button> #}
		</div>

	</div>
	<script>
	setPanier();
	</script>
{% endblock %}
