{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

 {% block javascripts %}
 <script src="../public/assets/js/panier.js"></script>
  <script src="/assets/js/panier.js"></script> 
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <style>
		
		.img-product {
			max-height: 10rem;
		}

		.card-border {

		border: 4px white solid;
    	box-shadow: 0px 1px 20px 6px #cccccc;
    	border-radius: 10%;
	}
	.card-btn {
		background-color: var(--primary-color);
	}

	.imgshop {
		width: 100%;
		height: 100%;
	}

	.container-panier{
			    background-color: var(--third-color);
		}

    </style>
{% endblock %}
{% block body %}



		<div class="container-fluid d-flex container-panier justify-content-center">
			<div class="card card-border p-0 col-5 m-5 text-center">
				<h2 class="card-title text-center">VOTRE PANIER</h2>
				<hr>
				<div class="card-body">
					<div class="container-fluid d-flex flex-colomn justify-content-center"" id="panier">
					</div>
					<div class="col">
						{{ form_start(form) }}
						
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</div>
					<a href="{{ path('cart') }}">
					<button class="btn shadow-1 rounded-1" id="checkout-btn" type="submit" >  <span style="font-weight:bold"> {{ button_label|default('Valider la réservation') }} <span> </button>
					</a>
				
				</div>
			</div>
		</div>

	
<script>
	AfficherPanier("panier");
</script>
	<script>
			setPanier();
		</script>
<style>
	.form-control{
		width:9rem;
		max-width:28%;
		margin:auto;
	}

	#cart_collect_date{
		display: inline-flex!important;
		margin:auto;
	}

	panier ul{
		width:100%;
	}
</style>


{% endblock %}
