{% extends 'base.html.twig' %}

{% block title %}
Page d'accueil
{% endblock %}

{% block stylesheets %}
<style></style>
{% endblock %}


{% block body %}
<section>
	<div class="container-fluid container-acceuil">
		<div class="row w--100 h--100">
			<div class="col-12 col-md-12">
				<div class="row flex-center h--100">
					<div class="col-12 col-sm-6 col-md-6 align-center flex-column ">
						<div class="col-10"><h1 class="flex-center justify">En cette période inédite, consommez local soutenez les
						producteurs !</h1></div>
						<div class="row flex-center">
							<div class="col-12 col-sm-12 col-md-10  flex-start flex-column form-flex panel-index">
								<p>Click'N'Commerces soutient les commerces de proximité, qui sont contraints de fermer,
									directement impactés par ces mesures. Certains d’entre eux ont pu mettre en place un
									service de commandes en ligne avec retraits en magasin.</p>
									{{ form_start(form) }}
									{{ form_widget(form) }}
									<button class="btn btn-rechercher">{{ button_label|default('') }}
										Rechercher</button>
									{{ form_end(form) }}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 flex-center align-center bg-section-1 h--100 bg-section-1 transition img-hover">
						<img src="{{ asset('assets/img/store.png') }}" class="img-fluid img-header">
					</div>
				</div>
			</div>
		</div>
		<div class="sub-acceuil">
		</div>
	</div>
</section>


{# section  3 raisons de  choisirs clickandcommerce #}

<section>
	<div class="container-fluid container-raisons text-center py-5">
		<div class="row flext-center px-5">
			<div class="col-12">
				<h2>3 raisons de choisirs Click'N'Commerces</h2>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container-fluid container-avantages">
		<div class="row justify-content-around  px-5">
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 wmp ">
				<img src="{{ asset('assets/img/sign.jpeg') }}" class=" img-wmp">
			</div>
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 wmp ">
				<img src="{{ asset('assets/img/sign-in2.jpeg') }}" class=" img-wmp">
			</div>
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 wmp ">
				<img src="{{ asset('assets/img/manger-photo.jpg') }}" class=" img-wmp">
			</div>
		</div>
		<div class="row justify-content-around px-5">
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 text">
				<div class="col-12">
					<h3>Soutenez les commerçants locaux</h3>
				</div>
				<div class="col-12">
					<p>Et si en tant que consomm’acteur, nous pouvions les aider concrètement tout en nous faisant plaisir ?</p>
				</div>
			</div>
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 text">
				<div class="col-12">
					<h3>Commandez de n'importe où</h3>
				</div>
				<div class="col-12">
					<p>Accessible depuis votre tablette, smartphone et ordinateur commandez local !</p>
				</div>
			</div>
			<div class="col-xl-4 col-sm-12 col-md-12 col-lg-12 col-12 text">
				<div class="col-12">
					<h3>Facile et rapide d'utilisation</h3>
				</div>
				<div class="col-12">
					<p>Vous êtes commerçants ? Ajoutez vos produits et proposez vos services.</p>
				</div>
			</div>
		</div>
	</div>
</section>


{# vous etest vendeur ?  #}


<section>
	<div class="container-fluid container-vendeur padding-bottom">
		<div class="row flext-center">
			<div class="col-12 col-sm-6 align-center">
				<div class="row flex-center">
					<div class="col-12 ajustement-center flex-center">
						<h2>Vous souhaiter inscrire votre commerce ?</h2>
					</div>
					<div class="col-12 ajustement-center flex-center">
						<p> Rien de plus simple, inscrivez vous, proposez directement vos produits préférés via la plateforme, nous nous chargons du reste. 
						Le client n'aura plus qu'à sélectionner et réserver vos produits, il règlera directement dans votre magasin et va générer du traffic. 
						Assurer une veille et rester actif, n'aura jamais été aussi simple pendant cette période compliquée. C'est entièrement gratuit !</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 img-container flex-center">
				<img src="{{ asset('assets/img/local.jpeg') }}" class="img-fluid mh-100">
			</div>
		</div>
	</div>
</section>

{# section clients #}

<section>
	<div class="container-fluid container-client padding-top">
		<div class="row flext-center flex-reverse">
			<div class="col-12 col-sm-6 align-center">
				<div class="row flex-center">
					<div class=" ajustement-center col-12 flex-center">
						<h2>Vous souhaitez soutenir les commerces locaux ?</h2>
					</div>
					<div class=" ajustement-center col-12 flex-center">
						<p>Facile ! 
						Après vous êtes inscrit, vous aurez accès à l'ensemble des commerçants alimentaires et de services, à portée de clics. Que vous ayez besoin de faire vos courses,
						de réparer votre tuyauterie ou de prendre rendez vous chez un coiffeur, pas besoin de gel, juste d'une souris. Vous réglerez directement vos achats au commerçant,
						à la réception de votre commande ou à la réalisation de votre service ! Facile ! </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 flex-center img-container">
				<img src="{{ asset('assets/img/soutenir.jpeg') }}" class="img-fluid mh-100">
			</div>
		</div>
	</div>
</section>


{% endblock %}