{% extends 'base.html.twig' %}

{% block title %}PAGE shop
{% endblock %}


{% block stylesheets %}
	<style></style>
{% endblock %}

{% block body %}
	


	<section class="container-fluid">
		<div class="row m-3">
			<h3 class="col">{{ shop.name }}</h3>
			<div class="col">{{ shop.adress }}</div>
			<div class="col">{{ shop.paiement }}</div>
		</div>

		<div class="row">
			{% for product in products %}
				<div class="card m-5 col-3">
					<h3 class="card-header text-center">{{ product.name }}</h3>
					<div class="" style="height: 8rem">
						<img class="img-fluid" src="{{ asset('assets/uploads/' ~ product.img ) }}">
					</div>
					<div class="card-body">
						<p class="card-text">Description :
							{{ product.description  }}</p>
						<p class="card-text">Prix :
							{{ product.price }}
							€</p>
					</div>
					<div class="card-body">
					 <button onclick="ajouterPanier('{{ product.id }}','{{ product.name }}','{{ product.price }}')">ajouter ce produit au panier!</button>
				
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</div>

	</section>

{% endblock %}

