{% extends 'base.html.twig' %}

{% block title %}
	PAGE shop
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <style>
        #calendier {
            width : 80%;
            margin : auto;
		}
		
		.container-info{
			/* background-image: url("{{ asset('assets/uploads/' ~ shop.img ) }}");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 20rem; */
			    background-color: var(--third-color);

		}
		.img-product {
			max-height: 10rem;
		}

		.card-border {

		border: 4px white solid;
    	box-shadow: 0px 1px 20px 6px #cccccc;
    	border-radius: 10%;
	}
	.rdv-btn {
		background-color: var(--third-color);
	}

	.imgshop {
		width: 100%;
		height: 100%;
	}
	.hr {
		background-color: var(--primary-color);
		border-top: 1px solid var(--primary-color);
		width: 65%;
	}
	.card-btn {
		background-color: var(--primary-color);
	}

    </style>
{% endblock %}

{% block body %}
	
		{# <div class="d-flex flex-column justify-content-end container-info p-0 m-0">
			<h3 class="m-0 font-w600 ">{{ shop.name }} ( {{ shop.adress }} )</h3>
			<p class="">Paiements acceptés au retrait : {{ shop.paiement }}</p>
		</div> #}
		<section class="d-flex flex-row container-info justify-content-center  ">
			<div class="col-6 p-5">
				<h3 class="mb-5 font-w600 text-white">{{ shop.name }} ( {{ shop.road }} | {{ shop.adress }} )</h3>
				<p class="text-white">Paiements acceptés au retrait : {{ shop.paiement }}</p>
				<p class="text-white"> numéro de téléphone : <strong> {{ shop.phone }} </strong> </p> 
				<div>
					<h4 class="text-white"> Horaires d'ouverture </h4>
					<p class="text-white"> Lundi : de {{ shop.lundi|date("H:i") }} à {{ shop.lundiclose|date("H:i") }} </p>
					<p class="text-white">	Mardi : de {{ shop.mardi|date("H:i") }} à {{ shop.mardiclose|date("H:i") }}</p>
					<p class="text-white">	Mercredi : de {{ shop.mercredi|date("H:i") }} à {{ shop.mercrediclose|date("H:i") }} </p>
					<p class="text-white">	Jeudi : de {{ shop.jeudi|date("H:i") }} à {{ shop.jeudiclose|date("H:i") }}</p> 
					<p class="text-white">	Vendredi : de {{ shop.vendredi|date("H:i") }} à {{ shop.vendrediclose|date("H:i") }} </p>
					<p class="text-white">	Samedi : de {{ shop.samedi|date("H:i") }} à {{ shop.samediclose|date("H:i") }}</p>
					<p class="text-white">	Dimanche : de {{ shop.dimanche|date("H:i") }} à {{ shop.dimancheclose|date("H:i") }}</p>  
					
				</div>
			</div>
			
				<img class="col-6" src="{{ asset('assets/uploads/' ~ shop.img ) }}">
			
		</section>
	<section class="container-fluid ">
		
		<div class="container-fluid p-0">
			<div class="row d-flex pl-5 m-5">
			{% if products is defined %}
				{% for product in products %}
					<div class="card card-border p-0 col-md-5 m-xl-5 m-md-2 col-xl-3">
						<img class="card-img-top img-product" src="{{ asset('assets/uploads/' ~ product.img ) }}">
						<div class="card-body">
							<h3 class="card-title m-0">{{ product.name }}</h3>
							<p class="card-text">Description : {{ product.description  }}</p>
							<p class="card-text">Prix : {{ product.price }} €</p>
							<p class="card-text"> Disponniblité : {{ product.isavailable ? 'Oui':'Non' }} </p>
						</div>
				
						
						{% if product.isavailable == true %}
					 		<button class="p-2 card-btn text-white text-center" onclick="ajouterPanierdepuisShop('{{ product.id }}','{{ product.name }}','{{ product.price }}','{{shop.id}}')">ajouter ce produit au panier!</button>
						{% else %}
						<button class="p-2 card-btn text-white text-center" disabled> Produit indisponible </button>
						{% endif %} 
						
					</div>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			{% endif %}
			</div>
			 {% if services is defined %}
				{% for service in services %}

					<div class="container-fluid d-flex justify-content-start">
						<div class="container-fluid d-flex flex-row justify-content-between align-items-center m-0 p-0">
							<h5 class="col-5">{{ service.name }}</h5>
							<h5 class="col-5"> {{ service.price }} €</h5>
						</div>
					</div>
							<hr class="hr ml-3">
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
				
				<a class="btn rdv-btn rounded-1 press text-white" href="{{ path('newClientAppointment', {'id': shop.id}) }}">Prendre rendez-vous</a>
			
			 
			
			{% endif %} 
		</div>
	</section>

{% block javascript %}  
    <script>
	

        
    </script>
{% endblock %}
{% endblock %}

