{% extends 'base.html.twig' %}

{% block title %}
	PAGE shop
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <style>
        #calendier {
            width : 80%;
            margin : auto;
        }
    </style>
{% endblock %}

{% block body %}
	
	<section class="container-fluid">
		<div class="row m-3">
			<h3 class="col">{{ shop.name }}</h3>
			<div class="col"> Adresse : {{ shop.adress }}</div>
			<div class="col">Paiements acceptés au retrait : {{ shop.paiement }}</div>
		</div>
		<div>
			<h4> Horaires d'ouverture </h4>
			<p>
			Lundi : {{ shop.lundi }} 
			Mardi : {{ shop.mardi }} 
			Mercredi : {{ shop.mercredi }} 
			Jeudi : {{ shop.jeudi }} 
			Vendredi : {{ shop.vendredi }} 
			Samedi : {{ shop.samedi }}
			Dimanche : {{ shop.dimanche }}  
			</p>
		</div>
		<div class="row">
			{% if products is defined %}
				{% for product in products %}
					<div class="card m-5 col-3">
						<h3 class="card-header text-center">{{ product.name }}</h3>
						<div class="" style="height: 8rem">
							<img class="img-fluid" src="{{ asset('assets/uploads/' ~ product.img ) }}">
						</div>
						<div class="card-body">
							<p class="card-text">Description : {{ product.description  }}</p>
							<p class="card-text">Prix : {{ product.price }} €</p>
						</div>
						<div class="card-body">
					 		<button onclick="ajouterPanierdepuisShop('{{ product.id }}','{{ product.name }}','{{ product.price }}','{{shop.id}}')">ajouter ce produit au panier!</button>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			{% endif %}

			 {% if services is defined %}
				{% for service in services %}
					<div class="card m-5 col-3">
						<h3 class="card-header text-center">{{ service.name }}</h3>
						<div class="card-body">
							<p class="card-text">Prix : {{ service.price }} €</p>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
				<a class="btn rounded-1 blue press" href="{{ path('calendar_new', {'id': shop.id}) }}">Create new</a>
			
			 <div id="calendrier"></div>
			
			{% endif %} 
		</div>
	</section>

{% block javascript %}  
    <script>
        // window.onload = () => {
        //     let calendarElt = document.querySelector("#calendrier")
        //     let calendar = new FullCalendar.Calendar(calendarElt, {
        //         initialView: 'timeGridWeek',
        //         locale: 'fr',
        //         timeZone: 'Europe/Paris',
        //         headerToolbar: {
        //             start: 'prev,next today',
        //             center: 'title',
        //             end: 'dayGridMonth,timeGridWeek'
        //         },
        //         events: {{ data|raw }},
        //       selectable: true,
        //     dateClick: function(info) {
        //         alert('Clicked on: ' + info.dateStr);
                
        //     }
        //     })

        //     calendar.render()
        // }
    </script>
{% endblock %}
{% endblock %}

