{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block stylesheets %}
<style>
    .bc {
			background-color: var(--third-color);
        }
    .tx-w {
        color: white;
    }
</style>
{% endblock %} 

{% block body %}
    <h1 class="p-3">Services index</h1>
    <div class="container-fluid">
        <div class="grix xs4 p-3 bc text-white shadow-2 align-items-center">
				<h5>Name</h5>
				<h5>Prix</h5>
				<h5>Durée</h5>
				<h5>Actions</h5>
		</div>
        {% for service in services %}
            <div class="grix xs4 mt-3 p-3 shadow-2 align-items-center" >
					<p class="m-0">{{ service.name }}</p>
					<p class="m-0">{{ service.price }} €</p>
					<p class="m-0">{{ service.duration ? service.duration|date('H:i') : '' }} </p>
                    <a href="{{ path('services_edit', {'id': service.id}) }}">Modifier</a>

            </div>
                {% else %}
                    <p colspan="4">no records found</p>
                {% endfor %}
                
            <a class="btn bc rounded-1 tx-w m-3" href="{{ path('services_new') }}">Create new</a>
    </div>
{% endblock %}
