{% extends 'headerShopKeeper.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <h1>Mes produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.img }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                    <a href="{{ path('product_delete', {'id': product.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Ajouter un produit</a>
{% endblock %}
