{% extends 'base.html.twig' %}

{% block title %}Mes produits{% endblock %}
{% block stylesheets %}
<style>
    .bc {
			background-color: var(--third-color);
        }
    .tx-w {
        color: white;
    }
    .smallscreen {
          display: none;
        }

    @media screen and (max-width: 575.98px) {
        h4 {
          font-size: 1rem;
        }

        .fontsmall {
          font-size: 0.75rem;
        }

        .grandscreen {
          display :none;
        }
        .smallscreen {
          display: block;
        }
        .displaynone {
          display :none;
        }

        .btnwidth {
            width : 5rem;
        }
			}
</style>
{% endblock %} 
{% block body %}
    <h1 class="p-3">Mes produits</h1>

    <div class="container-fluid text-center grandscreen">
            <div class="grix xs6 p-1 bc text-white shadow-2 align-items-center">
               <h5 class="fontsmall">Nom</h5>
				<h5 class="fontsmall">Description</h5>
				<h5 class="fontsmall">Prix</h5>
				<h5 class="fontsmall ">Img</h5>
				<h5 class="fontsmall">Stock</h5>
				<h5 class="fontsmall">actions</h5>
               
            </div>

            {% for product in products %}
               	<div class="grix xs6 p-1 shadow-2 align-items-center mt-3" >
                    <p class="m-0 fontsmall">{{ product.name }}</p>
                    <p class="m-0 fontsmall">{{ product.description }}</p>
                    <p class="m-0 fontsmall">{{ product.price }} €</p>
                    <p class="m-0 fontsmall">{{ product.img }}</p>
                    <p class="m-0 fontsmall">{{ product.isavailable ? 'Oui':'Non' }}</p>
                    <p>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn p-2 btnwidth fontsmall card-btn bc text-white text-center">Modifier</a>
                        <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn p-2 btnwidth fontsmall card-btn bc text-white text-center">Supprimer</a>
                    </p>
                </div>
            {% else %}
                    <p colspan="6">no records found</p>
            {% endfor %}
            
        {# <button data-target="example-collapsible{{loop.index0}}" class="btn bc rounded-1 press primary collapsible-trigger mx-auto">Afficher les détails</button> #}
        <a class="btn bc rounded-1 tx-w m-3" href="{{ path('product_new') }}">Ajouter un produit</a>
    </div>

    <div class="container-fluid text-center smallscreen">
            <div class="grix xs5 p-1 bc text-white shadow-2 align-items-center">
               <h5 class="fontsmall">Nom</h5>
				<h5 class="fontsmall">Description</h5>
				<h5 class="fontsmall">Prix</h5>
				<h5 class="fontsmall">Stock</h5>
				<h5 class="fontsmall">actions</h5>
               
            </div>

            {% for product in products %}
               	<div class="grix xs5 p-1 shadow-2 align-items-center mt-3" >
                    <p class="m-0 fontsmall">{{ product.name }}</p>
                    <p class="m-0 fontsmall">{{ product.description }}</p>
                    <p class="m-0 fontsmall">{{ product.price }} €</p>
                    <p class="m-0 fontsmall">{{ product.isavailable ? 'Oui':'Non' }}</p>
                    <p>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn mb-1 p-1 btnwidth fontsmall card-btn bc text-white text-center">Modifier</a>
                        <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn  p-1 btnwidth fontsmall card-btn bc text-white text-center">Supprimer</a>
                    </p>
                </div>
            {% else %}
                    <p colspan="6">no records found</p>
            {% endfor %}
            
        {# <button data-target="example-collapsible{{loop.index0}}" class="btn bc rounded-1 press primary collapsible-trigger mx-auto">Afficher les détails</button> #}
        <a class="btn bc rounded-1 tx-w m-3" href="{{ path('product_new') }}">Ajouter un produit</a>      
    </div>

{% endblock %}
