{% extends 'baseMember.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <h1>Shop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Paiement Accepté</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>{{ shop.adress }}</td>
                <td>{{shop.paiement}}</td>
                <td>
                    <a href="{{ path('shop_edit', {'id': shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{path('product_index')}}">Mon catalogue </a>
        </tbody>
    </table>

{% endblock %}
