<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<!-- Axentix -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/css/axentix.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Assets -->
		<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/fonts.css') }}" rel="stylesheet"/>
		<!-- SCRIPTS -->
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js" integrity="sha256-AM67JiNJ27oZIs55VNRBo6vAVVQ1iwg1PDN94mdDZA8=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

		 <style>
			.cart-btn {
				background-color: #884A65;
			}
			.topnav {
  				overflow: hidden;
			}
			.icon {
				  display: none;
				 
			}

			.bc {
				background-color: var(--third-color);
			}

			.burgerElement {
  				float: left;
  				display: block;
  				
  				text-align: center;
				
				
				
			}

			@media screen and (max-width: 600px) {
  				.burgerElement {display: none;}
				.icon {
					float: right;
					display: block;
				}
				.header {
					
				}
				.nav {
				}
				.imgContainer {
					width : 10rem;
				}

			}

			@media screen and (max-width: 600px) {
				.topnav.responsive {position: relative;}
				.icon {
					position: absolute;
					right: 8%;
					top: 2%;
					text-decoration: none;
					padding : 2px;
					width : 30px;
					height : 30px;
				}
				.nav {
				}
				.header {
					
				}
				.imgContainer {
					width : 10rem;
				}

			}

			@media screen and (max-width: 769px) {
				.nav {
				}
				.imgContainer {
						width : 10rem;
						margin-right: 10rem;
				}
			}


			.burgerElement {
				float: none;
				display: block;
				text-align: right;
			}
			.img {
				width: 100%;
			}
			.imgContainer {
				width : 7rem;
				margin-right: auto;

			}
			.imgSmallScreen {
					width: 50%;
				}

			.header {
				height: 7rem;
			}
			.nav {
					height: auto;
				}

		</style>
		 {% block stylesheets %}
		 {% endblock %}

		  {% block javascripts %}
		  <script src="{{ asset('assets/js/panier.js') }}"></script>
		  <script>
			  function myFunction() {
				var x = document.getElementById("myTopnav");
				var burgerContainer = document.getElementById("burgerContainer");
				var img = document.getElementById("img");

				if (x.className === "topnav") {
				x.className += " responsive";
				} else {
				x.className = "topnav p-2";
				}
				burgerContainer.className = "flex-colomn m-2";
				img.className += "imgSmallScreen";
			}
		  </script>
		  
		  {% endblock %} 
		</head>

{% block header %}
	<header class="container-fluid p-0">

		<nav class="navbar navbar-expand-lg navbar-dark  p-0 m-3" id="myTopnav">

            {% if is_granted('ROLE_MEMBER') %}
			<a class="navbar-brand marketplace imgContainer col-3" href="{{path('accueil')}}">
            {% elseif is_granted('ROLE_SHOPKEEPER') %}
            <a class="navbar-brand marketplace imgContainer col-3" href="{{path('accueilshopkeeper')}}">
			{% elseif is_granted('ROLE_SERVICE') %}
            <a class="navbar-brand marketplace imgContainer col-3" href="{{path('accueilservice')}}">
            {% else %}
            <a class="navbar-brand marketplace imgContainer col-3" href="{{path('accueil')}}">


            {% endif %}
				<img src="{{ asset('assets/img/logo_noir.png') }}" class="img">
			</a> 
			
			<div class="flex-center grix xs4" id="burgerContainer">
			{% if is_granted('ROLE_MEMBER') %}
				<a class="nav-link burgerElement" href="{{ path('app_logout') }}">déconnexion</a>
				<a class="nav-link burgerElement" href="{{ path('app_account') }}">Mon Compte</a>					
				<div class="dropdown rounded-2 burgerElement" id="example-dropdown" data-ax="dropdown">
  					<button type="button" class="btn shadow-1 rounded-1  dropdown-trigger">
      					<i id="cartLogo" class="fas fa-shopping-cart" ></i> <span id="cartValue" class="badge badge-light" style="color:black"> 0 </span>
  					</button>
 					<div id="dropDownContent"class="dropdown-content z-index-3 white right-aligned shadow-1 rounded-3 p-2">
						<a class="dropdown-item btn-rechercher btn rounded-1  press m-auto mt-2"  id="ValiderPanier"  href="{{ path('cart') }}">  Valider le panier  </a>
					</div>
				</div>
			
				{% elseif is_granted('ROLE_SHOPKEEPER') %}
				<a class="nav-link  burgerElement" href="{{ path('accueilshopkeeper') }}">Ma boutique</a>
				<a class="nav-link  burgerElement" href="{{ path('product_index') }}">Mes produits</a>
				<a class="nav-link  burgerElement" href="{{ path('shopkeeperorders') }}">Mes commandes</a>
				<a class="nav-link burgerElement" href="{{ path('app_logout') }}">déconnexion</a>
				{% elseif is_granted('ROLE_SERVICE') %}
				<a class="nav-link  burgerElement" href="{{ path('shop_index') }}">Ma boutique</a>
				<a class="nav-link  burgerElement" href="{{ path('appointment') }}">Mes rendez-vous</a>
				<a class="nav-link  burgerElement" href="{{ path('services_index') }}">Mes prestations</a>
				<a class="nav-link burgerElement" href="{{ path('app_logout') }}">déconnexion</a>
				{% else %}
				<a class="nav-link burgerElement" href="{{ path('app_register') }}">inscription</a>
				<a class="nav-link burgerElement" href="{{ path('app_login') }}">Connexion</a>   

				<div class="dropdown burgerElement rounded-2" id="example-dropdown" data-ax="dropdown">
					<button type="button" class="btn shadow-1 rounded-1  dropdown-trigger">
						<i id="cartLogo" class="fas fa-shopping-cart " ></i> <span id="cartValue" class="badge badge-light" style="color:black"> 0 </span>
					</button>
					<div id="dropDownContent"class="dropdown-content z-index-3 white right-aligned shadow-1 rounded-3 p-2">
						<a class="dropdown-item btn-rechercher btn rounded-1  press m-auto mt-2"  id="ValiderPanier"  href="{{ path('cart') }}">  Valider le panier  </a>
					</div>
				</div>
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    				<i class="fa fa-bars bc text-white p-2"></i>
  				</a>		
			{% endif %}
			</div>
		</nav>
	
	</header>


{% endblock %}
<main><body>
{% block body %}{% endblock %}

</body></main>
{% block Footer %}


				<!-- Footer -->
			
			<footer class="text-center text-lg-start">
				<!-- Grid container -->
				<div class="container p-4">
					<!--Grid row-->
					<div class="row flex-center">
						<!--Grid column-->
						<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
							<h5 class="text-uppercase">Click'N'Commerces</h5>

							<p>
								Click'N'Commerces votre service de click'n'collect local et COVID-Friendly
							</p>
						</div>
						<!--Grid column-->
						<!--Grid column
									<!--Grid column-->
						<!--Grid column-->
							<div class="col-lg-3 col-md-6 mb-4 "> <h5 class="text-uppercase">Navigation</h5>

							<ul class="list-unstyled">
								<li>
									<a href="{{ path('faq') }}" class="">Aide / FaQ</a>
								</li>
								<li>
									<a href="{{ path('cgdv') }}" class="">Conditions générales d'utilisation</a>
								</li>
								<li>
									<a class="text dark" href="{{ path('mentions_legales') }}"> Mentions légales</a>
								</li>
							</ul>
						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
					<a class="" href="#">© 2021 Copyright: Mäéva | Olivier | Benjamin | Tony => Team
										rocketScript</a>
				</div>
				<!-- Copyright -->
			<script src="{{ asset('assets/js/script.js') }}"></script>
			<script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/js/axentix.min.js"></script>
			<script></script>
			</footer>
			<!-- Footer -->


				<script>
				DisplayPanierHeader();
				appendPanierChild("dropDownContent");
				
	</script>

	</html>
{% endblock %}