{% extends 'base.html.twig' %}

{% block header %}
	<header class="container-fluid py-4">
		<nav class="navbar navbar-expand-lg navbar-dark flex-evenly">
            {% if app.user.member %}
			<a class="navbar-brand marketplace img-fluid flex-center" href="{{path('accueil')}}">
            {% elseif app.user.shopkeeper %}
            <a class="navbar-brand marketplace img-fluid flex-center" href="{{path('accueilshopkeeper')}}">
            {% else %}
            <a class="navbar-brand marketplace img-fluid flex-center" href="{{path('accueil')}}">
            {% endif %}
				<img src="{{ asset('assets/img/logo2.png') }}" class="img-fluid logo-img">
			</a> 
			

			<div class="flex-center">
			{% if app.user.member %}
			<a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>
			<a class="nav-link" href="{{ path('app_account') }}">Mon Compte</a>			
            <a class="nav-link" href="{{ path('cart') }}">Panier</a>

			{% elseif app.user.shopkeeper %}
            <a class="nav-link text-white" href="{{ path('shop_index') }}">Ma boutique</a>
			<a class="nav-link text-white" href="{{ path('product_index') }}">Mes produits</a>
            <a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>
            {% else %}
			<a class="nav-link" href="{{ path('app_register') }}">inscription</a>
			<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            <a class="nav-link" href="#">Le concept</a>
			{% endif %}
            <a class="nav-link" href="#">Le concept</a>
			</div>
		</nav>
	</header>


{% endblock %}