{% extends 'base.html.twig' %}

{% block header %}
	<header class="container-fluid py-4">
		<nav class="navbar navbar-expand-lg navbar-dark flex-evenly">
			<a class="navbar-brand marketplace img-fluid flex-center" href="{{path('accueil')}}">
				<img src="{{ asset('assets/img/logo2.png') }}" class="img-fluid logo-img">
			</a> 
			{% if app.user %}
			<a class="nav-link text-white" href="{{ path('app_logout') }}">déconnexion</a>
			<a class="nav-link text-white" href="{{ path('app_account') }}">Mon Compte</a>
			{% else %}

			<a class="nav-link text-white" href="{{ path('app_register') }}">inscription</a>
			<a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
			{% endif %}

			<div class="flex-center">
				<a class="nav-link" href="#">Le concept</a>
				<a class="nav-link" href="{{ path('app_register') }}">inscription</a>
				<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
			</div>
		</nav>
	</header>


{% endblock %}