{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL
{% endblock %}


{% block stylesheets %}
	<style>
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}

		.active,
		.accordion:hover {
			background-color: #ccc;
		}

		.panel {
			padding: 0 18px;
			display: none;
			background-color: white;
			overflow: hidden;
		}

		.bc {
			background-color: var(--third-color);
		}

		.widthbtn {
			width: 8rem;
			height: 3rem;
			
		}
		.recupererbtn {
			padding-top: 0.8rem;
		}
	</style>
{% endblock %}

{% block body %}

	<h1 class="p-3">Mes Commandes</h1>

	

    <div class="container-fluid">
		<div class="grix xs7 p-3 shadow-2 align-items-center">
				<p>Numero de commande</p>
				<p>Client</p>
				<p>Date de collect</p>
				<p>Total</p>
				<p>Status</p>
		</div>
	
       
			{% for order in orders %}
					{% set idOrder = order.id %}
					<div class="grix xs7 p-3 shadow-2 align-items-center " >
						<div class="grix xs4 w-100 col-xs4 collapsible-trigger" data-target="example-collapsible{{loop.index0}}">
							<p>{{ order.orderNumber }}</p>
							<p>{{ order.user.name }}</p>
							<p>{{ order.orderDetails.collectDate |date("j / m / Y") }}</p>
							<p>{{ order.checkout }}€</p>
						</div>
						{%  if (order.orderDetails.orderStatus == "Récupéré")  %}
							<p class="shadow-1 text-center mb-0 rounded-1 recupererbtn secondary widthbtn ">{{ order.orderDetails.orderStatus }}
							</p>
						{% elseif (order.orderDetails.orderStatus == "En Cours" or order.orderDetails.orderStatus == "Terminé") %}
							<a class="btn shadow-1 rounded-1 warning widthbtn light-3" href="{{ path('shopkeeperorders', {statut: "Terminé", id: idOrder}) }}">En Cours</a>
							<a class="btn shadow-1 rounded-1 widthbtn blue dark-1" href="{{ path('shopkeeperorders', {statut: "Récupéré", id: idOrder}) }}">Terminé</a>
							<p class="shadow-1 text-center mb-0 rounded-1 recupererbtn secondary widthbtn ">Récupéré
							</p>
						{# {% elseif (order.orderDetails.orderStatus == "Terminé") %} #}
							{# <a class="btn shadow-1 rounded-1 widthbtn blue dark-1" href="{{ path('shopkeeperorders', {statut: "Récupéré", id: idOrder}) }}">Terminé</a> #}
							
						{% endif %}
                        {# <button data-target="example-collapsible{{loop.index0}}" class="btn bc rounded-1 press primary collapsible-trigger mx-auto">Afficher les détails</button> #}
                    </div>
				
        <div class="collapsible p-3 shadow-2 align-items-center" id="example-collapsible{{loop.index0}}" data-ax="collapsible"> 
    
			<div class=" grix xs6" >
                <p>Produit</p>
				<p>Quantité</p>
            </div>            
			{% for listeproducts in tablisteproducts %}
                {% for product in listeproducts %}
                    <div class="grix xs6">
                        {%  if (order.orderDetails == product.orderDetails)  %}
							    <p>{{product.product.name}}</p> 
							    <p>{{product.quantity }}</p>
                        {% endif %}
                    </div>
                {% endfor %} 
			{% endfor %} 
			
        </div>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		
	</div>
	

{% endblock %}

{% block javascripts %}

	<script>
		function toggle(color) {

            var button = document.getElementById("button");
            button.removeAttribute("class");
            button.setAttribute("class", color);
            button.setAttribute("class", "btn shadow-1 rounded-1 dropdown-trigger");
        }

    
        
	</script>

{% endblock %}
