{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL{% endblock %}


{% block stylesheets %}
<style>
    
</style>
{% endblock %}

{% block body %}

<h1>Mes produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero de commande</th>
                <th>Client</th>
                <th>Date de collect</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            {% set idOrder = order.id %}
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.user.name }}</td>
                <td>{{ order.orderDetails.collectDate |date("j / m / Y") }}</td>
                <td>{{ order.checkout }}€</td>  
                {%  if (order.orderDetails.orderStatus == "Récupéré")  %}
                <td class="green light-1">{{ order.orderDetails.orderStatus }} </td> 
                {% elseif (order.orderDetails.orderStatus == "En Cours") %}
                <td><a class="btn shadow-1 rounded-1 yellow light-1" href="{{ path('shopkeeperorders', {statut: "Terminé", id: idOrder}) }}">En Cours</a></td>
                {% elseif (order.orderDetails.orderStatus == "Terminé") %}
                <td><a class="btn shadow-1 rounded-1 blue light-1" href="{{ path('shopkeeperorders', {statut: "Récupéré", id: idOrder}) }}">Terminé</a></td> 
                {% endif %}
            </tr>
            
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

<script>
function toggle(color){

    var button = document.getElementById("button");
    button.removeAttribute("class");
    button.setAttribute("class", color);
    button.setAttribute("class","btn shadow-1 rounded-1 dropdown-trigger");
}
</script>

{% endblock %}