Bonjour {{name}}, et merci pour votre commande

Votre commmande a été validée, elle sera transmise au commercant, qui la mettra de coté dans les plus bref délai




n'oubliez pas d'aller chercher votre commande à ce jour : {{date}}

Récapitulatif de la commande : 

<table>
</li>



  <td>{{ order.shop.name }}</td>
  <td>{{ order.orderNumber }}</td>
  <td>{{ order.orderDetails.orderStatus }}</td>
  <td>{{ order.checkout }}</td>

{% for product in listePdt %}

  <li>{{ product.product.name }}</li>
  <li>{{ product.quantity }}</li>
{% endfor %}

</table>